{% extends "main.html" %}
{% block body %}{% end %}
{% block body %}
<style>
    div{font-size:1.3vw}
    .songs{flex:2;display:flex;margin-top:2vh;border:2px solid #0000ff}
    .create{flex:1;border:2px solid #ecde10;}
    .sing{flex:2;border:2px solid #0cb3dd;margin-left:2vw}
    .others{flex:3;display:flex;margin-bottom:2vh}
    .mesg{border:1px solid #ffff00;margin-top:3vh;flex:2}
    .mention{border: 2px solid #ff0000;margin-top:3vh;margin-left:2vw;flex:2}
    .group{margin-top: 3vh;margin-left:2vw;flex:1}
    .users{font-size: 30px;color:#0cb3dd}
    .gps{color:#e29b15}
    .tt{color:#ff9900}
    .l11{clear:left;float:left}
    .r11{clear:right;float:right}
</style>
<div class="songs">
<div>
    <h2 class="tt">小乔在各大音乐平台上发布的歌曲（顺序不分先后，歌曲包含所有原唱，翻唱歌曲）</h2>
    <div id="songsbody"></div>
</div>
</div>
<div class="others">
<div class="mesg">
<br><font class="users">乔乔的各大社交平台账号(网上骗子很多注意区分！)</font>
<br>抖音账号ID（大号）：<a href="https://www.douyin.com/user/MS4wLjABAAAACdtHOv8XS_X_PTuqJ3WReO4ka7pBWg7fmzG4wjiIZVkUKFOVtbhizl9GkpdOJ-O1" target="_blank">@旺仔小乔</a> 抖音号：xiaoqiao20050529
<br>抖音账号ID（小号）：<a href="https://www.douyin.com/user/MS4wLjABAAAAa6RV_Q468Y04wZ8SZaGiqcnHMCa4IYI8I3TgXEKhQ2EtGBbY_c10oPPTMtDDsd1M" target="_blank">@小乔旺仔</a> 抖音号：emoQ050529
<br>抖音账号ID（小小号）：<a href="https://www.douyin.com/user/MS4wLjABAAAAbEj42-ZiI1Aea-L0sdIYzjfoZtiQf9mbWZDaGZtjt5rRjtXLLj2lp-ufXIIUrPP1" target="_blank">@翘翘</a> 抖音号：dy5zd4pw4jrl
<br>网易云音乐账号ID（有认证）：旺仔小乔
<br>酷狗音乐账号ID（有认证）：旺仔小乔
<br>QQ音乐账号ID（有认证）：旺仔小乔
<br>QQ号就是QQ粉丝群群主
<br>唯一微博账号<a href="https://weibo.com/u/7521087082" target="_blank">@旺仔小乔会吃饭</a>
<br>快手账号ID：<a href="https://www.kuaishou.com/profile/3xmrqbe6s85vf2g" target="_blank">@旺仔小乔</a> 快手号：wzxq20050529
<br>切记小乔没有全民K歌，小红书等平台！！！
<br>
<br>QQ官方粉丝群在乔抖音主页（进群申请没过的多申请）
<br>抖音官方粉丝群也在乔抖音主页（目前不要想能进群了，要粉丝团12级）
</div>
<div class="mention">
    <br><h1 style=color:#ff0000>⭐️注意事项</h1>
    <br>不要在社交平台上发乔乔照片 私发也不行 更不用透露乔乔个人隐私信息
    <br>开玩笑适度 大家友好相处
    <br>乔乔未来可期！
    <br>不要骚扰小乔，不要引战，攻击！！！遇到喷子举报即可，不要骂人！
    <br>在抖音或者微博等平台上，不要发小乔删掉的视频，可以发截图啥的，但完整版最好不要发！
    <br><p style=color:#ff0000>现在网上有很多冒充小乔，诋毁小乔，散播小乔隐私的，如果见到请联系鸢总或者海星（更多信息栏有她们的账号），并且立即举报，一定不要骂人不要评论！</p>
</div>
<div class="group">
    <br><h2 class="gps">乔乔QQ粉丝群群号 切记只能加一个！！！</h2>
    <pre>群1 289778052(基本已满，乔在1群活跃)</pre>
    <pre>群2 1151672840  群3 922824341</pre>
    <pre>群4 492898409   群5 1067925282</pre>
    <pre>群6 785832409   群7 757985161</pre>
    <pre>群8 940409366   群9 979308901</pre>
</div>
</div>
<script src="./file/r/songs.js"></script>
{% end %}
